.row--projectImage {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.img__bioventus  {
  display: block;
  width: 640px;
  margin: 0 auto;
  box-shadow: 0 0 35px hsla(0, 0%, 0%, 0.1);
}

.col__payscale--keyProjectSkills {
  width: 200px;
  display: inline-block;
}

.col__payscale--projectProcess {
  width: calc(880px - 260px);
  display: inline-block;
  vertical-align: top;
  margin-top: -5px;
}
