.span--bookTitle {
  text-decoration: underline;
}

.img__qualityEducation {
  width: 100%;
}

.img__qualityEducation--fullCover {
  width: 90%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 35px hsla(0, 0%, 0%, 0.1);
}

.col__qualityEducation--skillsPlusDescription {
  width: 420px;
  display: inline-block;
  vertical-align: top;
}

.col__qualityEducation--coverExplanation {
  width: calc(100% - 440px);
  display: inline-block;
  margin: 0 auto;
}

.img__qualityEducation--pitch {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 35px hsla(0, 0%, 0%, 0.1);
}

.img__qualityEducation--pitch.img__qualityEducation--designDetails {
  margin-bottom: 0;
}
