

@media screen and (max-width: 1260px) {



}

@media screen and (max-width: 920px) {

  .col__ff--processImages {
    display: block;
  }

  .container__processImage {
    /*display: inline-block;*/
    /*width: 32%;*/
  }

}

@media screen and (max-width: 740px) {

  .col__ff--processImages,
  .container__processImage {
    display: inline-block;
    /*width: 24%;*/
    vertical-align: top;
  }

  .img__fateForetold--finalImage {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {

  .col__ff--processImages {
    display: block;
  }

  .container__processImage {
    display: inline-block;
    /*width: 32%;*/
  }

}

@media screen and (max-width: 480px) {

  .container__processImage {
    width: 100%;
    display: block;
    box-shadow: 0 0 35px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 10px;
  }

  .text__ff--mainCaption {
    display: none;
  }
  .queryText__ff--caption {
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
  }

}

@media screen and (max-height: 420px) {



}
